@media screen and (max-width: 768px) {






    /*HEADER*/

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .lien_top {

        width: 100%;
        margin: auto;

    }

    .top:hover {
        border-bottom: 3px solid blue;
        border-top: none;
        color: #0065FC;
    }

    .top {
        padding-bottom: 30px;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        text-align: center;

    }

    /*apparition et disparition elements*/
    #bouton {
        display: none;
    }

    #loupe {
        display: block;
        position: absolute;
        border: 3px #0065FC solid;
        padding: 14px;
        border-radius: 10px 10px 10px 10px;
        background-color: #0065FC;
        color: white;

    }

    /*SECTION 2 filtres*/

    .element {
        flex-direction: column;
    }

    .filtre {
        margin: 0 2% 2% 2%;
    }

    /*fin SECTION 2 filtres*/

    /*MAIN*/

    /*element commun container HEBERGEMENTS POPULAIRE*/
    main {

        flex-direction: column-reverse;
    }

    /*elements container HEBERGEMENTS*/
    .c_populaire {

        width: 100%;
        height: 200px;

    }

    .Container_hebergements {

        width: 100%;
        margin: auto;
        border: 3px solid blueviolet;


    }

    .Container_hebergements h2 {
        padding: 2% 0 0 5%;
    }

    .container_cartes {

        flex-direction: column;
        align-items: center;
        border: 3px solid red;
        width: 100%;


    }

    /*elements card HEBERGEMENTS*/
    .carte {

        width: 100%;
        border: 3px solid yellow;

    }

    .carte:hover {
        filter: brightness(2);
    }

    /*IMG card HEBERGEMENTS*/
    .carte_image {

        height: 200px;

    }

    .carte_image img {

        height: 200px;

    }

    .content_cartes {
        padding: 0 0 2% 4%;
    }

    .content_cartes h3 {

        font-size: 15px;
    }

    .content_cartes p {

        font-size: 12px;
    }

    /*elements container POPULAIRE*/
    .Container_populaire {

        width: 100%;
        margin: auto;
        border: 3px solid orangered;

    }

    .Container_populaire h2 {
        padding: 0 5% 0 5%;
        justify-content: space-between;
    }



    .container_cartes_populaire {
        max-width: 100%;

        border: 3px solid black;
    }

    .c_principal {
        flex-wrap: nowrap;
    }

    /*IMG card POPULAIRE*/
    .c_image_populaire {
        width: 50%;
        max-width: 50%;
        height: 200px;

    }

    .c_image_populaire img {

        height: 200px;

    }

    /*CONTENT card POPULAIRE*/
    .content_c_populaire {
        width: 50%;
        margin-bottom: 20px;
    }

    .content_c_populaire p {
        font-size: 12px;
    }

    .etoile_populaire {
        color: #0065FC;
        padding-top: 25%;
    }

    /*SECTION 3 container_activity*/
    .Container_activity {
        margin: auto;
        border: 3px solid green;
    }

    .Container_activity h2 {
        padding-bottom: 3%;
    }

    /*ACTIVITES*/
    .les_cartes_activity {
        width: 90%;
        flex-direction: column;
        margin: auto;
        border: 3px solid indianred;
    }

    .les_cartes_activity h3 {
        padding-left: 1%;
    }

    /*card activity vieux port*/
    .activity_vieuport {

        width: 100%;
        height: 300px;
        margin: auto;
        border: 3px solid black;
    }

    /*img vieux port*/
    .image_vieuport img {
        height: 220px;
    }

    /*CONTENT vieux port*/
    .content_activity {
        padding: 0 0 2% 2%
    }

    /*card activity Fort de Pomègues/Iles de Frioul*/
    .Container_activity_fort_iles {
        width: 100%;
        margin: auto;
        border: 3px solid blue;
    }

    /*activity Fort de Pomègues*/
    .activity_fort_Pomegues {

        height: 300px;
        margin: 4% 0 4% 0;
        

    }

    .activity_Iles {
        height: 300px;
        margin: 0 0 4% 0;
    }

    .image_Iles img {
        height: 220px;
    }

    .image_fort_Pomegues img {
        height: 220px;
    }

    /*activity Parc National des Calanques*/
    .activity_parc_national {
        width: 100%;
        height: 300px;
        margin: auto;
    }

    /*IMG*/
    .image_parc_national img {
        height: 220px;
    }

    /*Container carte activités Notre Dame/Parc Longchamps*/
    .Container_activity_dame_parc {
        width: 100%;
        margin: 4% 0 4% 0;
    }

    /*Activités Notre Dame /Parc Longchamps*/
    .activity_notre_parc{
        border: 3px solid red;
        width: 100%;
        height: 300px;
        margin-bottom: 4%;
    }
    .image_notre_parc img{
        height: 220px;
    }
    /*FOOTER*/
    /*container principal*/
    .Container_footer {
        background-color: #F2F2F2;
        width: 100%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;

    }

    /*A propos*/
    .a_propos {
        width: 100%;
        margin-left: 5%;
    }

    .a_propos h3 {
        font-size: 18px;
    }

    .liens_footer {
        font-size: 15px;
        line-height: 25px;
    }

    /*Nos hébergements*/
    .nos_hebergements {
        width: 100%;
        margin-left: 5%;
    }

    .nos_hebergements h3 {
        font-size: 18px;
    }

    /*Assistance*/
    .assistance {
        width: 100%;
        margin-left: 5%;
    }

    .assistance h3 {
        font-size: 18px;
    }
}