@media screen and (max-width: 768px) {






    /*HEADER*/

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .lien_top {

        width: 100%;
        margin: auto;

    }

    .top:hover {
        border-bottom: 3px solid blue;
        border-top: none;
        color: #0065FC;
    }

    .top {
        padding-bottom: 30px;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        text-align: center;
        padding-left: unset;
        padding-right: unset;

    }

    /*apparition et disparition elements*/
    #bouton {
        display: none;
    }

    #loupe {
        display: block;
        position: absolute;
        border: 3px #0065FC solid;
        padding: 14px;
        border-radius: 10px 10px 10px 10px;
        background-color: #0065FC;
        color: white;

    }

    /*SECTION 2 filtres*/

    .element {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtre {
        margin: 0 2% 2% 2%;
    }

    /*fin SECTION 2 filtres*/

    /*MAIN*/

    /*element commun container HEBERGEMENTS POPULAIRE*/
    main {

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 0 20px;
    }
    
    /*elements container HEBERGEMENTS*/
    .Container_hebergements {

        background-color: white;

    }

    .Container_hebergements h2 {
        padding: 0 1%;
    }

    .container_cartes {

        flex-direction: column;
        align-items: center;
    }

    .carte {

        width: 100%;
        height: 300px;

    }

    .carte:hover {
        filter: brightness(2);
    }

    

    .carte_image img {

        height: 200px;
    }

    .content_cartes {
        padding: 0 0 2% 4%;
       
    }

    .content_cartes h3 {

        font-size: 15px;
    }

    .content_cartes p {

        font-size: 12px;
    }

    .afficher_plus {
        padding: 5% 1%;
    }


    /*elements container POPULAIRE*/
    .Container_populaire {

        width: 100%;
       
    }

    .Container_populaire h2 {
        padding: 0 1%;
    }



    .container_cartes_populaire {

        padding: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        

    }

    .c_populaire {

        width: 100%;
        flex-direction: column;
        height: 170px;
     
    }

    /*IMG card POPULAIRE*/
   

    .c_image_populaire img {
        height: 170px;
    }


    /*CONTENT card POPULAIRE*/
    

    .content_c_populaire p {
        font-size: 14px;
    }

    .etoile_populaire {
        color: #0065FC;
        padding-top: 20%;
        padding-bottom: 5%;
    }




    /*SECTION 3 container_activity*/
    .Container_activity {
        padding: 25px 25px;
        background-color: white;
            }

    .Container_activity h2 {
        padding: 0 1%;
        margin: 20px 0;
    }

    /*ACTIVITES*/
   

    .les_cartes_activity h3 {
        padding-left: 1%;
    }

    /*card activity vieux port*/
    .activity_vieuport {

        width: 100%;
        height: 300px;
        margin:0 0 20px 0;
        
    }

    /*img vieux port*/
    .image_vieuport img {
        height: 230px;
    }

    /*CONTENT vieux port*/
    .content_activity {
        padding: 0 0 2% 2%
    }

    /*card activity Fort de Pomègues/Iles de Frioul*/
    .Container_activity_fort_iles {
        width: 100%;
        margin: auto;
        
    }

    /*activity Fort de Pomègues*/
    .activity_fort_Pomegues {

        height: 300px;
        margin: auto;
        margin-bottom: 4%;
        width: 100%;


    }

    .activity_Iles {
        height: 300px;
        margin: auto;
        margin-bottom: 4%;
        width: 100%;
    }

    .image_Iles img {
        height: 230px;
    }

    .image_fort_Pomegues img {
        height: 230px;
    }

    /*activity Parc National des Calanques*/
    .activity_parc_national {
        height: 300px;
        margin: auto;
        width: 100%;
        
    }

    /*IMG*/
    .image_parc_national img {
        height: 230px;
    }

    /*Container carte activités Notre Dame/Parc Longchamps*/
    .Container_activity_dame_parc {
        width: 100%;
        margin: 4% 0 4% 0;
    }

    /*Activités Notre Dame /Parc Longchamps*/
    .activity_notre_parc {
        
        width: 100%;
        height: 300px;
        margin: auto;
        margin-bottom: 4%;
    }

    .image_notre_parc img {
        height: 230px;
    }

    /*FOOTER*/
    /*container principal*/
    .Container_footer {
        background-color: #F2F2F2;
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;

    }

    /*A propos*/
    .a_propos {
        width: 100%;
        padding-left: 4%;

    }

    .a_propos h3 {
        font-size: 18px;
    }

    .liens_footer {
        font-size: 15px;
        line-height: 25px;
    }

    /*Nos hébergements*/
    .nos_hebergements {
        width: 100%;
        padding-left: 4%;

    }

    .nos_hebergements h3 {
        font-size: 18px;
    }

    /*Assistance*/
    .assistance {
        width: 100%;
        padding-left: 4%;

    }

    .assistance h3 {
        font-size: 18px;
    }
}