* {

    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    color: inherit;
    text-decoration: none;

}


body {
    margin: auto;
    max-width: 1500px;
    min-width: 300px;
}

/*HEADER*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 40px;
    margin-left: 30px;
}

.lien_top {
    
    display: flex;

}

.top:hover{
    border-top: 3px solid blue;
    color: #0065FC;
}

.top {

    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}



/*fin HEADER*/


/*SECTION 1 : container_formulaire*/
.Container_formulaire {
    margin: 0 20px;
}

.Container_formulaire h1 {
    font-size: 20px;
}

.Container_formulaire p {
    font-size: 80%;
    margin-top: 5px;

}

/*FORMULAIRE*/
form {
    display: flex;
    flex-direction: row;
}

.fa-location-dot {
    position: absolute;
    border: 4px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    width: 60px;
    padding: 13px;

}

#champs_texte {
    position: relative;
    border: 3px solid #F2F2F2;
    width: 225px;
    height: 50px;
    margin-left: 50px;

}
#champs_texte::placeholder{
    font-weight: bold;
    color: #000000;
    padding-left: 10px;
}

#bouton {
    position: absolute;
    border: 3px solid #0065FC;
    background-color: #0065FC;
    font-weight: bold;
    color: white;
    border-radius: 0px 10px 10px 0px;
    width: 120px;
    height: 50px;

}

#loupe {
    display: none;
}

/*SECTION FILTRES*/

/*elements communs*/
.filtres{
    margin: 0 20px;

}
.filtre {

    margin: auto;
    font-weight: bold;
    

}

.element {

    display: flex;
    box-sizing: border-box;
    font-size: medium;
    margin-top: 2%;
    font-weight: bold;

}

.elements_filtre {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;

}


.economique {
    width: 180px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    margin: 0 1%;

}

.familial {
    width: 140px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    margin: 0 1%;
}

.romantique {
    width: 180px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    margin: 0 1%;
}

.animaux_autorises {

    width: 220px;
    height: 50px;
    border: 3px solid #F2F2F2;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    margin: 0 1%;

}

a.ensemble {
    color: black;
    text-decoration: none;
}

a.ensemble:hover {
    color: #0065FC;
}


.fa-money-bill-wave {

    border: 15px solid #deebff;
    border-radius: 30px;
    background-color: #deebff;
    color: #0065fc;
}

.fa-child-reaching {

    border: 15px solid #deebff;
    border-radius: 30px;
    background-color: #deebff;
    color: #0065fc;
}

.fa-heart {

    border: 15px solid #deebff;
    border-radius: 30px;
    background-color: #deebff;
    color: #0065fc;
}


.fa-dog {

    border: 15px solid #deebff;
    border-radius: 30px;
    background-color: #deebff;
    color: #0065fc;
}


/*icone info*/
i.fa-info {

    display: inline-block;
    border: 3px solid #F2F2F2;
    padding: 1%;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    color: #0065FC;

}

/*fin SECTION 2 filtres*/

/*MAIN*/

/*element commun container HEBERGEMENTS POPULAIRE*/
main {
    display: flex;
}

/*elements container HEBERGEMENTS*/

.Container_hebergements {
    background-color: #F2F2F2;
    width: 65%;
    margin: 0 20px;
    border-radius: 20px;

}

.Container_hebergements h2 {
    padding-top: 2%;
    padding-left: 4%;

}

.container_cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;

}

/*elements card HEBERGEMENTS*/
.carte {
    background-color: #fff;
    width: 30%;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;
    margin-top: 4%;

}

.carte:hover {
    filter: brightness(2);
}



/*IMG card HEBERGEMENTS*/

.carte_image img {
    object-fit: cover;
    width: 100%;
    padding: 2% 2% 0% 2%;
    border-radius: 20px 20px 0 0;
    height: 120px;

}

/*CONTENT card HEBERGEMENTS*/


.content_cartes {
    padding: 0 0 6% 4%;
    width: 100%;
    color: #000000;

}

.content_cartes p {
    margin: 2% 0 2% 0;
    font-size: 12px;
}

.content_cartes h3 {
    margin: 2% 0 2% 0;
    font-size: 15px;
}

/*etoile*/
.fa-star {
    color: #0065FC;
}

.star_grey {
    color: #F2F2F2;
}

.afficher_plus {
    padding-top: 6%;
    padding-left: 5%;
    font-weight: bold;
}


/*elements container POPULAIRE*/
.Container_populaire {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px;

}

.Container_populaire h2 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
    padding-top: 4%;
}


h2 .fa-star {
    color: inherit;
    display: block;

}

.container_cartes_populaire {
    width: 80%;
    margin: auto;
}

.c_populaire {
    background-color: white;
    height: 140px;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;
    margin-bottom: 40px;
    
}

/*LIENS Populaire*/
.cartes_populaires {
    text-decoration: none;
    color: #000000;
}

.cartes_populaires:hover {
    filter: brightness(2);
}

.c_principal {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;

}

/*IMG card POPULAIRE*/
.c_image_populaire {
    width: 40%;
    max-width: 40%;
}

.c_image_populaire img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    padding: 3% 3% 3% 3%;
    border-radius: 20px 0 0 20px;
    height: 140px;

}

/*CONTENT card POPULAIRE*/
.content_c_populaire {
    width: 55%;
    margin-left: 1%;
}

.content_c_populaire h3 {
    font-size: 15px;
}

.content_c_populaire p {
    font-size: 12px;
}

.etoile_populaire {
    color: #0065FC;
    padding-top: 8%;
}

/*SECTION 3 container_activity*/

/*cards ACTIVITY*/
.Container_activity {
    margin: 0 20px;
}
.Container_activity h2 {
    margin-left: 20px;
}

/*ACTIVITES*/
.les_cartes_activity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

/*card activity vieux port*/
.activity_vieuport {
    background-color: #fff;
    width: 30%;
    height: 450px;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;
    margin: 0 20px;
}



.lien_activity:hover {
    filter: brightness(2);
}

/*img vieux port*/
.image_vieuport img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 390px;
}

.content_activity h3 {
    font-size: 15px;
    margin-left: 3%;
}



/*card activity Fort de Pomègues/Iles de Frioul*/
.Container_activity_fort_iles {
    width: 30%;
    margin: 0 20px;
}

/*activity Fort de Pomègues*/
.activity_fort_Pomegues {
    background-color: #fff;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;
    margin-bottom: 10%;
    width: 100%;
    height: 250px;

}

/*IMG*/
.image_fort_Pomegues img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
}

/*activity Iles de Frioul*/
.activity_Iles {
    background-color: #fff;
    height: 170px;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;

}

/*IMG*/
.image_Iles img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 120px;
}

/*activity Parc National des Calanques*/
.activity_parc_national {
    background-color: #fff;
    width: 30%;
    height: 450px;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;
    margin: 0 20px;
}

/*IMG*/
.image_parc_national img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 390px;
}

/*Container carte activités Notre Dame/Parc Longchamps*/
.Container_activity_dame_parc {
    width: 30%;
    margin: 0 20px;
}

/*Activités Notre Dame /Parc Longchamps*/
.activity_notre_parc {
    background-color: #fff;
    height: 210px;
    -webkit-box-shadow: 1px 3px 15px 3px #000000;
    box-shadow: 1px 3px 15px 3px #000000;
    border-radius: 20px;
    margin-bottom: 10%;
}

/*IMG*/
.image_notre_parc img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 150px;
}



/*FOOTER*/
/*container principal*/
.Container_footer {
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/*A propos*/
.a_propos {
    width: 25%;
    margin-left: 20px;
}

.a_propos h3 {
    font-size: 15px;
}

.liens_footer {
    font-size: 13px;
    line-height: 30px;
}

/*Nos hébergements*/
.nos_hebergements {
    width: 25%;
}

.nos_hebergements h3 {
    font-size: 15px;
}

/*Assistance*/
.assistance {
    width: 25%;
}

.assistance h3 {
    font-size: 15px;
}

