@media screen and (max-width:992px) {
    * {

        font-family: 'Raleway', sans-serif;
        box-sizing: border-box;
        list-style-type: none;
        padding: 0;
        color: inherit;
        text-decoration: none;

    }


    body {
        margin: auto;
        max-width: 1500px;
        min-width: 300px;
    }

    /*HEADER*/

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    #logo {

        width: 15%;

    }

    .lien_top {
        width: 100%;
        display: flex;
        flex-direction: row;

    }


    .top {
        width: 50%;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        padding-top: 30px;
    }

    .top:hover {
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
    }

    .top a:hover {
        border-top: none;
    }

    .a_hebergement {
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .a_activites {
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    /*fin HEADER*/


    /*SECTION 1 : container_formulaire*/
    .Container_formulaire {
        margin-left: 1%;
    }

    .Container_formulaire h1 {
        font-size: 110%;
    }

    .Container_formulaire p {
        font-size: 80%;
        margin-top: 5px;

    }

    /*FORMULAIRE*/
    form {
        display: flex;
        flex-direction: row;
    }

    .fa-location-dot {
        position: absolute;
        border: 4px #F2F2F2 solid;
        border-radius: 10px 0px 0px 10px;
        background-color: #F2F2F2;
        width: 60px;
        padding: 13px;

    }

    #champs_texte {
        position: relative;
        border: 3px #F2F2F2 solid;
        width: 225px;
        height: 50px;
        margin-left: 50px;

    }

    #bouton {
        position: absolute;
        border: 3px #0065FC solid;
        background-color: #0065FC;
        font-weight: bold;
        color: white;
        border-radius: 0px 10px 10px 0px;
        width: 120px;
        height: 50px;

    }

    #loupe {
        display: none;
    }

    /*SECTION FILTRES*/

    /*elements communs*/
    .filtre {

        margin: auto;

    }

    .element {

        display: flex;
        box-sizing: border-box;
        font-size: medium;
        margin-top: 2%;


    }

    .elements_filtre {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }


    .economique {
        width: 180px;
        height: 50px;
        margin: 0 1% 1% 1%;
        border: 3px #F2F2F2 solid;
        border-left: none;
        border-radius: 30px 30px 30px 30px;


    }

    .familial {
        width: 140px;
        height: 50px;
        margin: 0 1% 1% 1%;
        border: 3px #F2F2F2 solid;
        border-left: none;
        border-radius: 30px 30px 30px 30px;
    }

    .romantique {
        width: 180px;
        height: 50px;
        margin: 0 1% 1% 1%;
        border: 3px #F2F2F2 solid;
        border-left: none;
        border-radius: 30px 30px 30px 30px;
    }

    .animaux_autorises {

        width: 220px;
        height: 50px;
        margin: 0 1% 1% 1%;
        border: 3px #F2F2F2 solid;
        border-left: none;
        border-radius: 30px 30px 30px 30px;


    }

    a.ensemble {
        color: black;
        text-decoration: none;
    }

    a.ensemble:hover {
        color: #0065FC;
    }


    .fa-money-bill-wave {

        border: 15px #deebff solid;
        border-radius: 30px;
        background-color: #deebff;
        color: #0065fc;
    }

    .fa-child-reaching {

        border: 15px #deebff solid;
        border-radius: 30px;
        background-color: #deebff;
        color: #0065fc;
    }

    .fa-heart {

        border: 15px #deebff solid;
        border-radius: 30px;
        background-color: #deebff;
        color: #0065fc;
    }


    .fa-dog {

        border: 15px #deebff solid;
        border-radius: 30px;
        background-color: #deebff;
        color: #0065fc;
    }


    /*icone info*/
    i.fa-info {

        display: inline-block;
        border: 3px #F2F2F2 solid;
        padding: 1%;
        border-radius: 30px 30px 30px 30px;
        text-align: center;
        color: #0065FC;

    }

    /*fin SECTION 2 filtres*/

    /*MAIN*/

    /*element commun container HEBERGEMENTS POPULAIRE*/
    main {
        display: flex;
    }

    /*elements container HEBERGEMENTS*/

    .Container_hebergements {
        background-color: #F2F2F2;
        width: 70%;
        margin: 0 2% 0 1%;
        border-radius: 20px;

    }

    .Container_hebergements h2 {
        padding-top: 2%;
        padding-left: 4%;

    }

    .container_cartes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 95%;
        margin: auto;

    }

    /*elements card HEBERGEMENTS*/
    .carte {
        background-color: #fff;
        width: 30%;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;
        margin-top: 4%;

    }

    .carte:hover {
        filter: brightness(2);
    }

    a.cartes_hebergements {
        text-decoration: none;

    }

    /*IMG card HEBERGEMENTS*/

    .carte_image img {
        object-fit: cover;
        width: 100%;
        padding: 2% 2% 0% 2%;
        border-radius: 20px 20px 0 0;
        height: 120px;

    }

    /*CONTENT card HEBERGEMENTS*/


    .content_cartes {
        padding: 0 0 6% 4%;
        width: 100%;
        color: #000000;

    }

    .content_cartes p {
        margin: 2% 0 2% 0;
        font-size: 12px;
    }

    .content_cartes h3 {
        margin: 2% 0 2% 0;
        font-size: 15px;
    }

    /*etoile*/
    .fa-star {
        color: #0065FC;
    }

    .star_grey {
        color: #F2F2F2;
    }

    .afficher_plus {

        padding-top: 6%;
        padding-left: 5%;
    }


    /*elements container POPULAIRE*/
    .Container_populaire {
        background-color: #F2F2F2;
        width: 30%;
        padding-bottom: 7%;
        padding: 2%;
        border-radius: 20px;

    }

    .Container_populaire h2 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8%;
    }


    h2 .fa-star {
        color: inherit;
        display: block;

    }

    .Container_cartes_populaire {
        width: 80%;
        margin: auto;
    }

    .c_populaire {
        background-color: white;
        width: 100%;
        height: 140px;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;
        margin-bottom: 10%;
    }

    /*LIENS Populaire*/
    .cartes_populaires {
        text-decoration: none;
        color: #000000;
    }

    .cartes_populaires:hover {
        filter: brightness(2);
    }

    .c_principal {
        display: flex;
        flex-wrap: wrap;
        overflow-wrap: break-word;

    }

    /*IMG card POPULAIRE*/
    .c_image_populaire {
        width: 40%;
        max-width: 40%;
    }

    .c_image_populaire img {
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        padding: 3% 3% 3% 3%;
        border-radius: 20px 0 0 20px;
        height: 140px;

    }

    /*CONTENT card POPULAIRE*/
    .content_c_populaire {
        width: 55%;
        margin-left: 1%;
    }

    .content_c_populaire h3 {
        font-size: 15px;
    }

    .content_c_populaire p {
        font-size: 12px;
    }

    .etoile_populaire {
        color: #0065FC;
        padding-top: 8%;
    }

    /*SECTION 3 container_activity*/

    /*cards ACTIVITY*/
    .Container_activity {
        margin: 3% 0 0 1%;
    }

    /*ACTIVITES*/
    .les_cartes_activity {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: auto;


    }

    /*card activity vieux port*/
    .activity_vieuport {
        background-color: #fff;
        width: 40%;
        height: 450px;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;
        margin: 0 3% 0 0;
    }

    /*LIENS*/
    .lien_activity {
        text-decoration: none;
        color: #000000;
    }

    .lien_activity:hover {
        filter: brightness(2);
    }

    /*img vieux port*/
    .image_vieuport img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 400px;
    }

    .content_activity h3 {
        font-size: 12px;
        margin-left: 3%;
    }

    /*card activity Fort de Pomègues/Iles de Frioul*/
    .Container_activity_fort_iles {
        width: 30%;
        margin: 0 3% 0 0;
    }

    /*activity Fort de Pomègues*/
    .activity_fort_Pomegues {
        background-color: #fff;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;
        margin-bottom: 13%;
        width: 100%;
        height: 250px;

    }

    /*IMG*/
    .image_fort_Pomegues img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 200px;
    }

    /*activity Iles de Frioul*/
    .activity_Iles {
        background-color: #fff;
        height: 35%;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;

    }

    /*IMG*/
    .image_Iles img {
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 120px;
    }

    /*activity Parc National des Calanques*/
    .activity_parc_national {
        background-color: #fff;
        width: 30%;
        height: 450px;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;
        margin: 0 4% 0 0;
    }

    /*IMG*/
    .image_parc_national img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 400px;
    }

    /*Container carte activités Notre Dame/Parc Longchamps*/
    .Container_activity_dame_parc {
        width: 30%;
        margin: 0 2% 0 0;
    }

    /*Activités Notre Dame /Parc Longchamps*/
    .activity_notre_parc {
        background-color: #fff;
        height: 210px;
        -webkit-box-shadow: 1px 3px 15px 3px #000000;
        box-shadow: 1px 3px 15px 3px #000000;
        border-radius: 20px;
        margin-bottom: 13%;
    }

    /*IMG*/
    .image_notre_parc img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 160px;
    }

    /*FOOTER*/
    /*container principal*/
    .Container_footer {
        background-color: #F2F2F2;
        width: 100%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    /*A propos*/
    .a_propos {
        width: 30%;
        margin-left: 2%;
    }

    .a_propos h3 {
        font-size: 12px;
    }

    .liens_footer {
        font-size: 10px;
        line-height: 20px;
    }

    /*Nos hébergements*/
    .nos_hebergements {
        width: 25%;
    }

    .nos_hebergements h3 {
        font-size: 12px;
    }

    /*Assistance*/
    .assistance {
        width: 25%;
    }

    .assistance h3 {
        font-size: 12px;
    }
}